<div >
    <div style="height: 500px" class="container-fluid">
        <div class="row d-flex justify-content-center pt-5">
            <div class="">
                <h1 class="pt-5 text-center">About</h1>
                <h5 class="pt-3 text-center">
                    ながのCAKEは全国発送可能なケーキ屋さんです。</br>
                    お⼦様からお年寄りの⽅までお召し上がりいただけるよう</br>、
                    様々なバリエーションをご⽤意しております。</br>
                    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。</br>
                    ぜひご注⽂ください。
                </h5>
            </div>
        </div>   
    </div>
</div>